[Unit]
Description=JetRacer Web Remote Control
Wants=network-online.target
After=network-online.target nvargus-daemon.service

[Service]
Type=simple
User=jet-ai-lab
Group=jet-ai-lab
WorkingDirectory=/home/jet-ai-lab/Jetracer/JetRacer
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/jet-ai-lab/Jetracer/JetRacer/main.py
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
